@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.woff2') format('woff2'), url('../fonts/Muli-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.woff2') format('woff2'), url('../fonts/Muli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ernest and Emily';
  src: url('../fonts/ErnestandEmily.woff2') format('woff2'), url('../fonts/ErnestandEmily.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
